// fonts
$font-stack: 'Manrope', sans-serif;

// font-sizes
$font-size-base: 13px;

//font-weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// colors
$very-dark-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);

// line-height
$line-height: 1.5;

// border-radius
$border-radius: 10px;
